body {
  background-color: #f5f5f5;
}

.app {
  padding: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
